
:root {
    --red: #ff5555;
    --blue: #53d1ff;
    --white: #f5f3f3;
    --gray: #d7d7d799;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.outer {
    width: 20rem;
    height: 15rem;
    border: solid var(--blue) 10px;
}

.inner {    
    width: 100%;
    height: 5rem;
    background-color: var(--gray);
    

    border: 10px solid var(--red);
    padding: 5px;

}