.card:hover .color-change {
    animation: color-change 2000ms linear 1;

}

.card:hover .orbit {
    animation: orbit 800ms ease-in-out infinite;
}

.card:hover .multiple-animations {
    animation: orbit 800ms ease-in-out infinite, color-change 800ms ease-in-out infinite;
}

.card:hover .flip {
    animation-name: flip, color-change;
    animation-duration: 1s, 800ms;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-delay: 0s, 1s;
}

@keyframes color-change {
    0% {
        background-color: var(--color-fg);
    }
    25% {
        background-color: var(--color-primary);
    }
    50% {
        background-color: var(--color-fg);
    }
    75% {
        background-color: var(--color-accent);
    }
    100% {
        background-color: var(--color-fg);
    }
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) translateX(50px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(50px) rotate(-360deg);
    }
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media (prefers-reduced-motion: reduce) {
    .card:hover .color-change,
    .card:hover .orbit,
    .card:hover .multiple-animations,
    .card:hover .flip {
        animation: none;
    }
}