
.bold {
    font-weight: 700;
}

.tight {
    transition: all 0.3s ease;
}
.tight:hover {
    line-height: 1rem;
}

.loose {
    transition: all 0.3s ease;
}
.loose:hover {
    line-height: 5rem;
}

.wide {
    transition: all 0.3s ease;
}
.wide:hover {
    letter-spacing: 0.5rem;
}

.serif {
    font-family: serif;
}

.san-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}